

.controller.edit {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/base/astonish_base.svg);
}

.edit .stick.left {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/sticks/astonish/astonish_stick.png);
}

.edit .stick.right {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/sticks/innocents/astonish/astonish_stick.png);
}

.edit .stick.pressed {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/sticks/astonish/astonish_pressed.png);
}
