.edit .controller.ds4 {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/ps4/base/destroy_base.svg);
}


.controller.edit {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/ps4/base/destroy_base.svg);
}

.edit .button {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/ps4/buttons/destroy_face.svg);
}
