.edit .controller.ds4 {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/ps4/base/ex_gtr_base2.svg);
}


.controller.edit {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/ps4/base/ex_gtr_base2.svg);
}

.edit .a {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/ps4/buttons/ex/ex_button.png);
}

.edit .a.pressed {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/ps4/buttons/ex/ex_pressed.png);
}

.edit .b {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/ps4/buttons/ex/ex_button.png);
}

.edit .b.pressed {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/ps4/buttons/ex/ex_pressed.png);
}

.edit .x {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/ps4/buttons/ex/ex_button.png);
}

.edit .x.pressed {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/ps4/buttons/ex/ex_pressed.png);
}

.edit .y {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/ps4/buttons/ex/ex_button.png);
}

.edit .y.pressed {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/ps4/buttons/ex/ex_pressed.png);
}

.edit .face .ds4 {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/ps4/dpad/ex/ex_dpad.png);
}

.edit .face {
    position: absolute;
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/ps4/dpad/ex/ex_dpad.png);
}
