.edit .controller.xbox {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/base/inno_base.svg);
}


.controller.edit {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/base/inno_base.svg);
}

.edit .xbox .stick {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/sticks/inno_sticks.svg);
}

.edit .stick {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/sticks/innocents/inno_sticks.svg);
}
.edit .xbox .a {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/buttons/innocents/inno_a_button.png);
}

.edit .a {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/buttons/innocents/inno_a_button.png);
}
.edit .xbox .b {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/buttons/innocents/inno_b_button.png);
}

.edit .b {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/buttons/innocents/inno_b_button.png);
}
.edit .xbox .x {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/buttons/innocents/inno_x_button.png);
}

.edit .x {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/buttons/innocents/inno_x_button.png);
}

.edit .xbox .y {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/buttons/innocents/inno_y_button.png);
}

.edit .y {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/buttons/innocents/inno_y_button.png);
}
