

.controller.edit {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/base/whoans_base.png);
}



.edit .a {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/buttons/whoans/whoans_a_pressed.png);
}




.edit .a.pressed {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/buttons/whoans/whoans_a_button.png);
}



.edit .b {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/buttons/whoans/whoans_b_pressed.png);
}



.edit .b.pressed {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/buttons/whoans/whoans_b_button.png);
}



.edit .x {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/buttons/whoans/whoans_x_pressed.png);
}



.edit .x.pressed {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/buttons/whoans/whoans_x_button.png);
}



.edit .y {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/buttons/whoans/whoans_y_pressed.png);
}



.edit .y.pressed {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/buttons/whoans/whoans_y_button.png);
}



.edit .stick.left {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/sticks/innocents/inno_stick_left.png);
}

.edit .stick.right {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/sticks/innocents/inno_stick_left.png);
}

.edit .stick.pressed {
    background: url(https://QKv2TdeKb7XnveG1BLoALd0BU891WTwKY6.github.io/xbox/sticks/whoans/whoans_stick_pressed.png);
}
