.edit .controller.ds4 {
    background: url();
}


.controller.edit {
    background: url();
}


.edit .face .ds4 {
    background: url();
}


.edit .face {
    position: absolute;
    background: url();
}


.edit .stick .ds4 {
    background: url();
}


.edit .stick {
    position: absolute;
    background: url();
}
